<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">    
    <meta name="author" content="João Xavier" />
    <meta name="description" content="never gonna give you up" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta property="og:site_name" content="João Xavier"/>
    <meta property="og:title" content="{{ page.title }}"/>
    <meta itemprop="name" content="{{ page.title }}"/>
    <meta property="og:url" content="http://jcxavier.com"/>
    <meta itemprop="url" content="http://jcxavier.com"/>
    <meta property="og:type" content="article"/>
    <meta property="og:image" content="https://www.gravatar.com/avatar/3686893a70278d7abd69cac283e71393.jpg?size=320"/>
    <meta itemprop="image" content="https://www.gravatar.com/avatar/3686893a70278d7abd69cac283e71393.jpg?size=320"/>

    <link rel="image_src" href="https://www.gravatar.com/avatar/3686893a70278d7abd69cac283e71393.jpg?size=320" />
    <link rel="canonical" href="http://jcxavier.com"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="alternate" href="/rss.xml" title="jcxavierdotcom RSS Feed" type="application/atom+xml"/> 
    <link rel="stylesheet" href="/css/styless.css">
    <link rel="stylesheet" href="/css/pygment_trac.css">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      {{ content }}

      <footer>
        <a href="http://twitter.com/cristopt"><img src="/images/twitter.png" /></a>
        <a href="http://linkedin.com/in/jcxavier"><img src="/images/linkedin.png" /></a>
        <a href="http://github.com/jcxavier"><img src="/images/github.png" /></a>
        <a href="http://stackoverflow.com/users/1062290/jcxavier"><img src="/images/stackoverflow.png" /></a>
        <a href="http://plus.google.com/108095146358697729538"><img src="/images/googleplusalt.png" /></a>
        <a href="http://lastfm.com/user/cristopt"><img src="/images/lastfm.png" /></a>
        <a href="http://youtube.com/user/cristopt"><img src="/images/youtube.png" /></a>

        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    
    <script src="/js/scale.fix.js"></script>
    <script>(function(e,t,n,r,i,s,o){e["GoogleAnalyticsObject"]=i;e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},e[i].l=1*new Date;s=t.createElement(n),o=t.getElementsByTagName(n)[0];s.async=1;s.src=r;o.parentNode.insertBefore(s,o)})(window,document,"script","//www.google-analytics.com/analytics.js","ga");ga("create","UA-44584193-1","jcxavier.com");ga("send","pageview")</script>
  </body>
</html>