---
layout: base
---

<header>
  <a href="/"><h1>jcxavier.com</h1></a>
  <p>never gonna give you up</p>

  <p><a href="/"><img src="https://www.gravatar.com/avatar/3686893a70278d7abd69cac283e71393.jpg?size=160"/></a></p>

  <ul id="posts">
      {% for post in site.posts %}
        <li><span>{{ post.date | date: "%Y.%m.%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
  </ul>
</header>

<section>
  {{ content }}
</section>

<script>function c(){var e=window.innerWidth;if(e>960){var t=window.innerHeight;document.getElementById("posts").style.height=t-500+"px"}}window.onresize=c;c()</script>