---
layout: base
---

<header>
  <a href="/"><h1>jcxavier.com</h1></a>
  <p>never gonna give you up</p>

  <p><a href="/"><img src="http://en.gravatar.com/userimage/15947556/9fdf6e642a5f9d0347f84e05c12acf04.jpg?size=160"/></a></p>

  <div id="related">
    <h3>Related Posts</h3>
    <ul class="posts">
      {% for post in site.related_posts limit:3 %}
        <li class="{% cycle 'one', 'two' %}"><span class="date">{{ post.date | date: "%Y.%m.%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>

  <div id="navigation">
    {% if page.previous %}
      <div id="post-prev">
        &laquo; <a href="{{ page.previous.url }}" title="{{ page.previous.title }}">Previous</a>
      </div>
    {% endif %}

    {% if page.next %}
      <div id="post-next">
        <a href="{{ page.next.url }}" title="{{ page.next.title }}">Next</a> &raquo;
      </div>
    {% endif %}
  </div>

  <div id="share">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="cristopt" data-size="large">Tweet</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</header>

<section>
  <a id="permalink" href="{{ page.url }}"><h1>{{ page.title }}</h1></a>

  <div class="content, clearfix">
    {{ content }}
  </div>

  <div id="disqus_thread" />
    <script>(function(){var e=document.createElement("script");e.type="text/javascript";e.async=true;e.src="//jcxavier.disqus.com/embed.js";(document.getElementsByTagName("head")[0]||document.getElementsByTagName("body")[0]).appendChild(e)})()</script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</section>